.draggable {
    position: absolute;
    border: 1px solid black;
    user-select: none;
}
.draggable > img, .draggable > textarea {
    width: inherit;
    height: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
}
.draggable > textarea {
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
}
.draggableMove, .draggableResize, .draggableClose, .draggableTextColor, .draggableTextSmaller, .draggableTextBigger {
    position: absolute;
    --size: 16px;
    width: var(--size);
    height: var(--size);
    border: 1px solid black;
    font-size: var(--size);
    background-color: white;
    text-align: center;
    font-family: sans-serif;
}
.draggableMove {
    cursor: grab;
    top: calc(var(--size) * -1);
    left: calc(var(--size) * -1);
}
.draggableResize {
    cursor: nwse-resize;
    bottom: calc(var(--size) * -1);
    right: calc(var(--size) * -1);
}
.draggableClose {
    cursor: pointer;
    top: calc(var(--size) * -1);
    right: calc(var(--size) * -1);
}
.draggableTextColor {
    cursor: pointer;
    top: calc(var(--size) * -1);
    left: 50%;
    transform: translate(-50%);
}
.draggableTextSmaller {
    cursor: pointer;
    top: calc(var(--size) * -1);
    left: calc(50% - var(--size));
    transform: translate(-50%);
}
.draggableTextBigger {
    cursor: pointer;
    top: calc(var(--size) * -1);
    left: calc(50% + var(--size));
    transform: translate(-50%);
}
.textColorSelector {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tokenDisplay {
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
