.draggable {
    position: absolute;
    /* border: 1px dashed #222222; */
    outline: 1px dashed #222222;
    box-shadow: 0 0 0 1px white;
    user-select: none;
    cursor: grab;
}
.draggable > img, .draggable > textarea {
    width: inherit;
    height: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
}
.draggable > textarea {
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
}
.draggableClose, .draggableTextColor, .draggableTextSmaller, .draggableTextBigger {
    position: absolute;
    --size: 16px;
    width: var(--size);
    height: var(--size);
    border: 1px solid black;
    font-size: var(--size);
    background-color: white;
    text-align: center;
    font-family: sans-serif;
}
.draggableClose {
    cursor: pointer;
    top: calc(var(--size) * -1);
    right: calc(var(--size) * -1);
}
.draggableTextColor {
    cursor: pointer;
    top: calc(var(--size) * -1);
    left: 50%;
    transform: translate(-50%);
}
.draggableTextSmaller {
    cursor: pointer;
    top: calc(var(--size) * -1);
    left: calc(50% - var(--size));
    transform: translate(-50%);
}
.draggableTextBigger {
    cursor: pointer;
    top: calc(var(--size) * -1);
    left: calc(50% + var(--size));
    transform: translate(-50%);
}
.resizeNW, .resizeNE, .resizeSW, .resizeSE, .resizeN, .resizeS, .resizeW, .resizeE {
    position: absolute;
    --size: 14px;
    width: var(--size);
    height: var(--size);
    border: 1px solid black;
    font-size: var(--size);
    background-color: white;
}
.resizeNW {
    cursor: nwse-resize;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
.resizeNE {
    cursor: nesw-resize;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}
.resizeSW {
    cursor: nesw-resize;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
}
.resizeSE {
    cursor: nwse-resize;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}
.resizeN {
    cursor: ns-resize;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.resizeS {
    cursor: ns-resize;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
.resizeW {
    cursor: ew-resize;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.resizeE {
    cursor: ew-resize;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}
.textColorSelector {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tokenDisplay {
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
