.draggable {
    position: absolute;
    border: 1px solid black;
    user-select: none;
}
.draggable > img, .draggable > input[type=text] {
    width: inherit;
    height: inherit;
    font-size: inherit;
    background-color: transparent;
}
.draggableMove, .draggableResize, .draggableClose {
    position: absolute;
    --size: 16px;
    width: var(--size);
    height: var(--size);
    border: 1px solid black;
    font-size: var(--size);
    background-color: white;
    text-align: center;
    font-family: sans-serif;
}
.draggableMove {
    cursor: grab;
    top: calc(var(--size) * -1);
    left: calc(var(--size) * -1);
}
.draggableResize {
    cursor: nwse-resize;
    bottom: calc(var(--size) * -1);
    right: calc(var(--size) * -1);
}
.draggableClose {
    cursor: pointer;
    top: calc(var(--size) * -1);
    right: calc(var(--size) * -1);
}
.tokenDisplay {
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}