.board {
    width: 100%;
}


@media (min-width: 1200px) {
    .background {
        max-width: 1200px;
    }
}

.background {
    display: block;
    user-select: none;
    width: 100%;
    margin: 16px auto 0;
}

input[type=file] {
    display: none;
}
